body {
    font-size: 20px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    font-family: Soleil,Helvetica,Arial,sans-serif;
}


#main-header {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 80px
    
}

.main-header {
    font-size: 20px;
    color: rgb(130, 38, 148);
    
}
a {
    text-decoration: none;
    color: rgb(130, 38, 148);
}

.main-navigation ul {
    font-size: 16px;
    line-height: 21px;
    display: flex;
}

.main-navigation li {
    margin-left: 70px;
}

a {text-decoration: none;}
.main-navigation a {
    color: rgb(130, 38, 148);
    font-weight: 550;
}

.feature-background {
    background-image: url(imagenes/Gradiente.png);
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
}

 .feature-background .container {
    align-items: center;
    display: flex;
}
.feature-background .content {
    padding: 0 80px 0 80px;
    width: 50%;
    font-size: 100%
}

.feature-background .image {
    width: 50%;
    text-align: right;
}

.feature-background .image img {
    max-height: 85vh;
}

 .feature-background .content h1 {
    font-size: 3.5rem;
    line-height: 72px;
    margin-bottom: 20px;

 }
 .feature-background .content h2 {
    font-size: 1.5rem;
    line-height: 72px;
    margin-bottom: 20px;

 }

.feature-background .content h4 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 40px;
    margin-bottom: 35px;
}


.feature-background.content {
    height: auto;
    max-width: 100%;
    width: 50%;
    text-align: center;
padding: 0 40px;


} 

@media screen and (max-width: 991px) {
    .feature-background .content h1 {
        font-size: 2rem;
        line-height: 40px;
    }
    .feature-background .content h2 {
        font-size: 1.2rem;
    }
    .feature-background .content h4 {
        font-size: .8rem;
    }
}

.imagenes {
    width: 100 vw;
    text-align: center;
    padding: 80px 50px 50px;
    
}

.main-pictures h2 {

    font-size: 20px;
    color: rgb(130, 38, 148);
    margin-bottom: 40px;
    padding: 0 100px 0 80px;

}


.buttonsgroup{

    text-align: center;
    flex-direction: column
}

.buttons{

    text-align: center;
    display: inline-block;
    line-height: normal;
    text-decoration: none;
    background-color:  rgb(130, 38, 148);
    border: 0;
    border-radius: 3px;
    padding: 18px 32px 17px;
    letter-spacing: 1.5px;
    flex-direction: column
   
}

.buttons .button1 

{
    font-size: 15px;
    color: rgb(255, 255, 255);

}
.buttons .button2 

{
    font-size: 15px;
    color: rgb(255, 255, 255);

}